@charset "UTF-8";
/* CSS Document */

@font-face{
	font-family: "Heavitas";
	src: url(../fonts/Heavitas.ttf);
}

@media only screen and (max-width: 600px) {
    main {
			/* background-color: blue; */
			padding: 50px;
			transform: translate(-50%, 25%) !important;
    }

		#about-me {
			max-width: 350px;
		}

		#me-img {
			float: none !important;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

}

body {
	position: relative;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
	padding: 10px;
}

#about-me {
	width: 650px;
}

#me-img {
	height: 250px;
	float:left;
	padding-right: 30px;
}

a {
	color: #266918;
	text-decoration:none;
}

a:hover {
	color: #266918;
	color: rgba(38, 105, 24, 0.5);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Heavitas";
	text-align: justify;
}

#tamponrun {
	color:#AE161C;
	color: rgba(174, 22, 28, 1);
}

#tamponrun:hover {
	color:#AE161C;
	color: rgba(174, 22, 28, 0.5);
}

#girlcode {
	color: #00A3AF;
}

#girlcode:hover {
	color:#FFD169;
}

#sophie {
	color:#f851a1;
}

#sophie:hover {
	color:#f851a1;
	color: rgba(248, 81, 161, 0.5);
}

#robertson {
	color:rgba(128, 128, 128, 1);
}

#robertson:hover {
	color:rgba(128, 128, 128, 0.5);
}

#unc {
	color:rgba(75, 156, 211, 1);
}

#unc:hover {
	color:rgba(75, 156, 211, 0.5);
}

#microsoft {
	color: rgba(246, 93, 53, 1);
}

#microsoft:hover {
	color: rgba(246, 93, 53, 0.5);
}

#twitter {
	color: rgba(29, 161, 242, 1);
}

#twitter:hover {
	color: rgba(29, 161, 242, 0.5);
}

#linkedin {
	color: rgba(0, 119, 181, 1);
}

#linkedin:hover {
	color: rgba(0, 119, 181, 0.5);
}

#github {
	color: rgba(110, 84, 148, 1);
}

#github:hover {
	color: rgba(110, 84, 148, 0.5);
}
