@charset "UTF-8";
/* CSS Document */

@font-face{
	font-family: "Heavitas";
	src: url(../fonts/Heavitas.ttf);
}

@media only screen and (max-width: 600px) {
	main {
		/* background-color: blue; */
		padding: 50px;
		transform: translate(-50%, 25%) !important;
  }

	li {
		margin-left: -25px;
	}

	#name {
		text-align: center;
	}

	#me-img {
		float: none !important;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto !important;
	}

	.text-content {
		max-width: 350px;
	}
}

@media only screen and (max-width: 340px) {
	main {
		/* background-color: blue; */
		padding: 50px;
		transform: translateX(-50%) !important;
	}

	.text-content {
		max-width: 290px;
	}

	#me-img {
		height: 225px !important;
	}
}

body {
	position: relative;
}

body::before {
	background:	url(/images/powerpuff.jpg) no-repeat -9999px -9999px
						url(/images/powerpuff-pout.jpg) no-repeat -9999px -9999px
						url(/images/powerpuff-talk.jpg) no-repeat -9999px -9999px
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
	padding: 10px;
}

.sub {
	color:rgba(0, 0, 0, 0.25);
}

#about-me {
}

#me-img {
	float: left;
	height: 250px;
	padding-right: 25px;
	margin-bottom: 200px;
}

a {
		text-decoration:none;
}

a:hover {
		text-decoration:none;
}

.norm-url {
	color: rgba(38, 105, 24, 0.75);
}

.norm-url:hover {
	color: rgba(38, 105, 24, 0.25);
}

h1, h2, h3 {
	font-family: "Heavitas";
	text-align: justify;
}

h4, h5, h6 {
	font-family: "Heavitas";
	text-align: justify;
	color:rgba(0, 0, 0, 0.75);
}

ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
li {
	margin-bottom: 2px;
}

.text-content {
		width: 650px;
}

.talk-url {
		color:rgba(0, 0, 0, 1);
}

.talk-url:hover {
		color:rgba(0, 0, 0, 0.25);
}

/* BIO LINKS */
#tamponrun {
	color: rgba(174, 22, 28, 0.75);
}

#tamponrun:hover {
	color: rgba(174, 22, 28, 0.25);
}

#girlcode {
	color: #00A3AF;
}

#girlcode:hover {
	color:#FFD169;
}

#sophie {
		color: rgba(248, 81, 161, 0.75);
}

#sophie:hover {
	color:#f851a1;
	color: rgba(248, 81, 161, 0.5);
}

#robertson {
	color:rgba(255, 194, 14, 1);
}

#robertson:hover {
	color:rgba(255, 194, 14, 0.5);
}

#unc {
	color:rgba(75, 156, 211, 1);
}

#unc:hover {
	color:rgba(75, 156, 211, 0.5);
}

#microsoft {
	color: rgba(246, 93, 53, 0.75);
}

#microsoft:hover {
	color: rgba(246, 93, 53, 0.25);
}

#excel {
	color:rgba(32, 114, 69, 0.75);
}

#excel:hover{
	color:rgba(32, 114, 69, 0.25);
}

#turn10 {
	color:rgba(128, 128, 128, 1);
}

#turn10:hover {
	color:rgba(128, 128, 128, 0.5);
}

/* CONTACT LINKS */
#twitter {
	color: rgba(29, 161, 242, 1);
}

#twitter:hover {
	color: rgba(29, 161, 242, 0.5);
}

#linkedin {
	color: rgba(0, 119, 181, 1);
}

#linkedin:hover {
	color: rgba(0, 119, 181, 0.5);
}

#github {
	color: rgba(110, 84, 148, 1);
}

#github:hover {
	color: rgba(110, 84, 148, 0.5);
}
