
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab');

body {
	background-color: #C6E0F0;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}

li {
	line-height: 1.8;
}

small {
	font-style: italic;
}

p {
  color: red;
}

div {
	margin-bottom: 50px
}

/* Targets any element with class="paragraph-bold" */
.paragraph-bold {
  font-weight: bold;
}

/* Targets any paragraph that is a child of an element with class="section-name" */
.section-name p {
  line-height: 1.6;
}

.link-to-red {
	color: firebrick;
}

.no-underline {
	text-decoration: none;
}

.typography {
	border: solid;
	border-width: 1px;
	border-color: darkgreen;
	margin-bottom: 50px;
}

.layout {
	margin-bottom: 50px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}

.colors {
	margin-bottom: 50px;
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
}