@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab');
body {
	font-family: 'Roboto Slab', serif;
	background-color: lightsteelblue;
	color: midnightblue;
}

h1 {
	font-family: 'Oswald', serif;
	text-align: center; 
	text-decoration: overline;
}

img {
	display: block;
	margin: auto;
}

.description {
	font-size: 10px;
	font-style: italic;
	text-align: center;
}

.song {
	font-style: italic;
	padding-left: 40px;
}

